
.transparentWrapper {
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5)
}

.wrapper {
    z-index: 2;
    // border: 2px dashed rgb(20, 100, 146);
    background-color: white;
    border-radius: 10px;
}

