.wrapper {
    display: grid;

    grid-template-areas: 
    "di in"
    "di rv"
    ;
    grid-template-columns: 60% 40%;
    grid-auto-rows: max-content;

    padding: 10px;
    width: 800px;
    background-color: white;
    margin: 0 10px 40px 10px;
}

.displayImgWrapper {
    grid-area: di;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
}

.displayImg {
    margin: 10px;
    max-height: 350px;
    max-width: 98%;
}

.info {
    grid-area: in;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.reviewWrapper {
    grid-area: rv;
}

@media (max-width: 850px) {
    .wrapper {
        width: 95%;
        grid-template-areas: 
        "di in"
        "rv rv"
        ;
    }

   
}