$text-on-concrete: rgb(56, 21, 21);

.trickTipsWrapper {
  padding: 30px;
  h3 {
    font-size: 1.5rem;
    text-align: center;
    font-family: Fredoka;
    font-weight: 425;
    color: $text-on-concrete;
  }
}
