.wrapper {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.img {
    width: 60px;
    margin: 1px;
    border: 1px solid rgb(206, 202, 202);
    padding: 2px;
    cursor: pointer;

    &:hover {
        border-color: rgb(153, 153, 153);
    }
}


@media (max-width: 850px) {
    .wrapper {
        justify-content: center;
    }
}