$addNewBlue: rgb(13, 90, 134);

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    // width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}

.selector {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    height: 100px;
    cursor: pointer;

    h4 {
        font-size: 24px;
        color: $addNewBlue;
    }

    img {
        height: 100%;
    }
}

@media (max-width: 450px) {
    .wrapper {
        width: 350px;
    }
}