.wrapper {
    height: 100px;
    background-color: rgb(46, 43, 43);
    background: url("../../images/backgrounds/header.png");
    margin-bottom: 40px;
}

.h1{
    display: flex;
    height: 100%;
    width: fit-content;
    align-items: center;
    padding: 20px;
    color: rgb(223, 222, 222);
    font-family: "Fredericka the Great"

}